.directory
.minecraft/crash-reports/
.minecraft/saves/
.minecraft/journeymap/
.minecraft/logs/
.minecraft/backups/
.minecraft/local/ftbchunks/data/332b97a0-53d7-4174-86f0-92ac117ae994/minecraft_overworld/0EA5F-0EA60.zip
